// .preview {
//     a {
//         color: $clr4;
//         padding: 0;
//     }    
// 	p {
// 		margin-block: 0 0.2rem;
//         font-size: .85em;
// 	}
// }
.preview {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 15px;
    text-align: center;
}

.preview img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-top: 10px;
}

.preview header {
    font-size: 1.2em;
    margin-bottom: 5px;
}
